.wpcf7-acceptance .wpcf7-list-item {
	margin: 0;
}

button[type="submit"], input[type="submit"] {
	background-color: var(--wp--preset--color--accent);
	color: var(--wp--preset--color--foreground);
	border: none;
	font-weight: bold;
	border-radius: var(--wp--custom--border-radius--rounded);
	padding: calc(0.5rem + 4px) 1.5em;
	cursor: pointer;
}